<div id="wrapper" class="main-image jumbotron jumbotron-fluid">
    <div class="parallax" style="background-image: url(https://img.youtube.com/vi/{{selectedMovieYtid}}/maxresdefault.jpg);"></div>
    <div id="textbox">
        <div id="content">
            <h3>{{selectedMovieTitle}}</h3>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <div class="buttonsContainer">
                <a role="button" href="https://www.youtube.com/embed/{{selectedMovieYtid}}?rel=0&autoplay=1" class="btn btn-secondary btn-lg">Watch</a>
                <a role="button" class="btn btn-secondary btn-lg">Info</a>
            </div>
        </div>
    </div>

</div>