<br/>
<br/>
<br/>


<div class="container jumbotron">
    <h3>Add new movie</h3>
    <div class="form-group">
        <label class="col-form-label">Movie Title</label>
        <input type="text" class="form-control" placeholder="Title" [(ngModel)]="movieTitle">
    </div>

    <div class="form-group">
        <label for="exampleSelect2">Select category</label>
        <select class="form-control" id="exampleSelect2" [(ngModel)]="movieCategory">
          <option *ngFor="let category of categories" [ngValue]="category">{{category.name}}</option>
        </select>
    </div>

    <div class="form-group">
        <label class="col-form-label">Movie URL</label>
        <input type="url" class="form-control" placeholder="URL" [(ngModel)]="movieUrl">
    </div>
    <div class="form-group">
        <label class="col-form-label">YouTube Id</label>
        <input type="text" class="form-control" placeholder="youTube video Id" [(ngModel)]="youtubeId">
    </div>

    <button type="button" class="btn btn-primary btn-lg" (click)="addMovie()">Add Movie</button>

</div>
<app-movie-list></app-movie-list>